Crushback is a bot trying to help people make love.
It doesn't introduce people to each other; instead it checks if your crush has also a crush on you - privately.
Finding crush is not Crushback's concern!
Unlike many other social networks, Crushback is super private! It means the users don't even see each other on the network! They don't have any idea of who on whom has a crush. Instead, the system <b>automatically</b> checks if any matches happens in the users' crushes!
You can trust Crushback because:
- It's a fully automated bot; meaning no human or manual interaction is involved in its processes. Humans just have developed the system and left it running on a secure server!
- Crushback code has a variety of automated tests to ensure it works appropriately and doesn't violate users' privacy.
- Accessing Crushback data is heavily restricted. Even near all its developers have no access to its data!
- Unlike the data, <a href="https://github.com/emranbm/crushback">Crushback source code</a> is open! It means everyone can see how it's working.

Crushback tries its best to keep your data safe and secure.
Have a good love!
