Hi {{ update.effective_user.first_name }},
Thanks for texting me!
I love checking if your crush is already having a crushback on you!

Just send me her/his username, and I'll periodically check if they also has told me about you!
This is completely private and no one (even your crush) will notice it!
Unless your crush also has added you as her/his crush. In this case a private message is sent to both you and your crush that says: <b>You both have a crush on each other!</b>

Add your crush by sending /addcrush.

For any concerns about your privacy, send /privacy to see why you can trust Crushback.

Have a good love!
