Hello {{ update.effective_user.first_name }},
Thanks for texting me!
I love checking if your crush is already having a crushback on you!

Just send me your crush's username on Telegram, and I'll check if she/he also has told me about you! (I'm a bot. I never judge you!)
This is completely private and no one (even your crush) will notice it!
Unless your crush has added you as her/his crush, too. In this case a private message is sent to both you and your crush that says: <b>You both have a crush on each other!</b>
Otherwise, no one knows who on whom has a crush.

Now, just send /addcrush.

For any concerns about your privacy, send /privacy to see why you can trust crushback.
